@model Agribusiness.Import.Models.View.CommodityViewModel

@{
    ViewBag.Title = "Archive Commodity";
}

<h2>Archive Commodity</h2>

<div>
    <ul>
    <li>
        <em>Imported Already?</em> @(Model.AlreadyImported ? "Yes" : "No")    
    </li>
    <li>
        <em># Read:</em> @Model.Commodities.Count
    </li>
    <li>
        <em># Error:</em> @Model.Errors.Count
    </li>
    </ul>
</div>

@Html.Partial("_Error", Model.Errors)
