@model Agribusiness.Web.Models.TemplateViewModel

@{
    ViewBag.Title = "Create Template";
    ViewBag.SubPageTitle = "Create Template";
}

@section SubPageNavigation
{
    <div class="navigation">
        <li>@Html.ActionLink("Back to List", "Index")</li>
    </div>
}

@Html.Partial("_TemplateForm")
