@model TemplateViewModel

@{
    ViewBag.Title = "Create Template";
    ViewBag.SubPageTitle = "Create Template";
}

@section SubPageNavigation
{
    <div class="nav nav-pills">
        <li>@Html.ActionLink("Back to List", "Index")</li>
    </div>
}

@section ScriptContent
{
    @Html.Partial("_tinymce", new TinyMceViewModel(enableTokenInsert:true))
}

@using (Html.BeginForm("Create", "Template", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Partial("_TemplateForm")    
}


