













@model Agribusiness.Core.Domain.Template


@{
    ViewBag.Title = "Details";

}

<h2>Details</h2>



@section SubNav
{
	<ul class="navigation">
		
			<li>@Html.ActionLink("Edit", "Edit", new { id=Model.Id }) </li>
			<li>@Html.ActionLink("Back to List", "Index")</li>
		
	</ul>
}

<fieldset class="display-form">
    <legend>Template</legend>
	<ul>

		<li>
			<div class="display-label">BodyText</div>
			<div class="display-details">@Model.BodyText</div>
		</li>

		<li>
			<div class="display-label">IsActive</div>
			<div class="display-details">@Model.IsActive</div>
		</li>

	</ul>
</fieldset>



