@model TemplateViewModel

@{
    ViewBag.Title = "Edit Template";
    ViewBag.SubPageTitle = "Edit Template";
}

@section SubPageNavigation
{
    <ul class="nav nav-pills">
        <li>@Html.ActionLink("Back to List", "Index")</li>
    </ul>
}

@section ScriptContent
{
    @Html.Partial("_tinymce", new TinyMceViewModel(enableTokenInsert:true))
}

@using (Html.BeginForm("Edit", "Template", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Partial("_TemplateForm")    
}
