@model Agribusiness.Core.Domain.Seminar

@{
    ViewBag.Title = "Seminar Details";
    ViewBag.SubPageTitle = "Seminar Details";
}

@section SubPageNavigation
{
    <ul class="navigation">
        <li>
            @Html.ActionLink("Edit", "Edit", "Seminar", new { id = Model.Id }, new { })
        </li>
        <li>
            @Html.ActionLink("Back to List", "Index", "Seminar")
        </li>
    </ul>
}
