@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>GetDetails</title>
</head>
<body>

    @ViewBag.Person.Title<br />
    @ViewBag.Firm.Name<br /><br />
    @ViewBag.Firm.Description

</body>
</html>
