@if (Request.IsAuthenticated) {
    <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-user"></i> @Context.User.Identity.Name
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li class="divider"></li>
            <li>@Html.ActionLink("Log Off", "Logoff", "Account", new { }, new { })</li>
        </ul>
    </div>
} else {
    <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-user"></i> Login
        </a>
    </div>
}