@using Agribusiness.Web.Models

@model MessageModel

@if (Model.IsError)
{ 
    <div id="alert alert-error">
        @Html.Raw(Model.Message)
    </div>
}
else { 
    <div id="alert alert-info">
        @Html.Raw(Model.Message)
    </div>
}