    <ul class="navigation">
        <li>
            @Html.ActionLink("Home", "Index", "Home")
        </li>
        <li>
        <a href="#">Nav2</a>
        </li>
        <li>
        <a href="#">Nav3</a>
        </li>
        <li>
        <a href="#">Nav4</a>
        </li>
        <li>
        <a href="#">Nav5</a>
        </li>
        <li>
        <a href="#">Nav6</a>
        </li>
        <li>
        <a href="#">Nav7</a>
        </li>
        <li>
            @Html.ActionLink("Admin Tools", "Admin", "Home")
        </li>
	</ul>