<ul class="nav nav-pills">
    <li>@Html.ActionLink("Steering Committee", "SteeringCommittee", "Public")</li>
    <li>@Html.ActionLink("Case Studies", "CaseExamples", "Public")</li>
    <li>@Html.ActionLink("Venue", "Venue", "Public")</li>
    <li>@Html.ActionLink("Contact Us", "ContactUs", "Public")</li>
</ul>
