<div id="tokens" class="well">
    <ul class="unstyled">
        <li><a href="javascript:;" class="token" data-value="{FullName}">Full Name</a></li>
        <li><a href="javascript:;" class="token" data-value="{BadgeName}">Badge Name</a></li>
        <li><a href="javascript:;" class="token" data-value="{FirstName}">First Name</a></li>
        <li><a href="javascript:;" class="token" data-value="{SeminarBeginDate}">Seminar Begin Date</a></li>
        <li><a href="javascript:;" class="token" data-value="{SeminarEndDate}">Seminar End Date</a></li>
        <li><a href="javascript:;" class="token" data-value="{SeminarDeadline}">Seminar Deadline</a></li>
        <li><a href="javascript:;" class="token" data-value="{title}">Title</a></li>
        <li><a href="javascript:;" class="token" data-value="{firmName}">Firm Name</a></li>

        <li><h5 style="color:black;">Invitation Tokens</h5></li>

        <li><a href="javascript:;" class="token" data-value="{userName}">User Name</a></li>
        <li><a href="javascript:;" class="token" data-value="{password}">Password</a></li>
    </ul>
</div>