<div id="tokens">
    <ul>
        <li><a href="javascript:;" class="token" data-value="{FullName}">Full Name</a></li>
        <li><a href="javascript:;" class="token" data-value="{BadgeName}">Badge Name</a></li>
        <li><a href="javascript:;" class="token" data-value="{FirstName}">First Name</a></li>
        <li><a href="javascript:;" class="token" data-value="{SeminarBeginDate}">Seminar Begin Date</a></li>
        <li><a href="javascript:;" class="token" data-value="{SeminarEndDate}">Seminar End Date</a></li>
    </ul>
</div>

<style type="text/css">
#tokens
{
    background-color: #F4F4F4;
    border: 1px solid #666666;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: inline-block;
    float:right;
    line-height: normal;
    margin-left: 10px;
    width: 200px;
    min-height: 2em;
}
    
#tokens ul
{
    margin: 10px;
}
</style>