
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<ol>
    <li>@Html.ActionLink("Import Firms", "Firms", "Firm")</li>
    <li>@Html.ActionLink("Import Archived Firms", "ArchiveFirms", "Firm")</li>

    <li></li>
</ol>