@{
    ViewBag.Title = "Retrieve Password";
    ViewBag.SubPageTitle = "Retrieve Password";
}

@Html.ValidationSummary(true, "Please correct the following errors:")

@using (Html.BeginForm()) { 
@Html.AntiForgeryToken()
<fieldset>
    <legend>Account Information</legend>

    <ul>
        <li><div class="editor-label">User Name:</div>
            <div class="editor-field">
                @Html.TextBox("userName")
            </div>
        </li>
        <li><div class="editor-label">&nbsp;</div>
            <div class="editor-field">-- OR --</div>
        </li>
        <li><div class="editor-label">Email:</div>
            <div class="editor-field">@Html.TextBox("email")</div>
        </li>
        <li><div class="editor-label">&nbsp;</div>
            <div class="editor-field">
                <input type="submit" value="Retrieve Password" />
            </div>
        </li>
    </ul>

</fieldset>
}