@{
    ViewBag.Title = "Background Information";
}

@section ScriptContent
{
    <style type="text/css">
        p {margin-top: 1em;}
        h3 {margin-top: 1em;}
    </style>
}

@section SubPageNavigation
{
    <ul class="navigation">
        <li>@Html.ActionLink("Steering Committee", "SteeringCommittee", "Public")</li>
        <li>@Html.ActionLink("Case Studies", "CaseExamples", "Public")</li>
        <li>@Html.ActionLink("Venue", "Venue", "Public")</li>
    </ul>
}

<h2>Background Information</h2>

<p>The 2010 seminar will be the sixteenth in a series that began in 1989 as a collaboration between Wells Fargo Bank, led by Bill Henderson, Executive Vice President, and the Department of Agricultural and Resource Economics at the University of California, Davis. Chester O. McCorkle, UCD Professor Emeritus, directed the seminar from 1989 through 2003 when Roberta Cook became the Faculty Director. Dr. Cook is an Extension Marketing Economist in the Department of Agricultural and Resource Economics at the University of California, Davis.</p>

<h3>Seminar Mission</h3>

<p>The seminar's mission is to stimulate and enhance strategic thinking and to provide quality networking opportunities for executives of leading California agribusiness firms.</p>

<h3>Seminar Theme</h3>

<p>The principal theme of the Seminar Series is "Strategies for Competing in a Changing Environment." The 2010 program is still being developed.</p>

