@using Agribusiness.Web.App_GlobalResources
@using Agribusiness.Web.Services
@{
    ViewBag.Title = "Background Information";

    var siteId = ViewData["site"] as string;
    var site = SiteService.LoadSite(siteId);
    var seminar = SiteService.GetLatestSeminar(siteId);
    
    if (seminar != null && seminar.SeminarPeople.SelectMany(a => a.SeminarRoles).Any(a => a.Id == StaticIndexes.Role_SteeringCommittee))
    {
        ViewData["hasSteeringCommittee"] = true;
    }
    else
    {
        ViewData["hasSteeringCommittee"] = false;
    }  
}

@section ScriptContent
{
    <style type="text/css">
        p {margin-top: 1em;}
        h3 {margin-top: 1em;}
    </style>
}

@section SubPageNavigation
{
    @Html.Partial("_PublicSubNavigation")
}

<h2>Background</h2>

@if (!string.IsNullOrEmpty(site.Background))
{
    @Html.Raw(site.Background)

    if (site.BackgroundPerson != null)
    {
         <p>@Html.ActionLink(string.Format("{0} photo and bio", site.BackgroundPerson.FullName), "Profile", new {id = site.BackgroundPerson.Id})</p>
    }
    
    @*<p>@Html.ActionLink("Daniel Sumner photo and bio", "Profile", new { id = 2675 })</p>*@
}
else
{
    <div class="well">
    <p>There is no background information available at this time.</p>
    </div>
}


