@{
    ViewBag.Title = "Background Information";
}

@section ScriptContent
{
    <style type="text/css">
        p {margin-top: 1em;}
        h3 {margin-top: 1em;}
    </style>
}

@section SubPageNavigation
{
    @Html.Partial("_PublicSubNavigation")
}

<h2>Background</h2>

<p>The 2012 seminar will be the seventeenth in a series that began in 1989 as a collaboration between Wells Fargo Bank, led by Bill Henderson, Executive Vice President, and the Department of Agricultural and Resource Economics at the University of California, Davis. Chester O. McCorkle, UC Davis Professor Emeritus, directed the seminar from 1989 through 2003. Roberta Cook, Extension Marketing Economist in the Department of Agricultural and Resource Economics at UC Davis was director from 2005 through 2010. Daniel Sumner, Professor in the Department of Agricultural and Resource Economics and Director, UC Agricultural Issues Center, is the current academic director. Kenneth McCorkle, College of Agricultural and Environmental Sciences alumnus and volunteer, is the lead Wells Fargo collaborator.</p>

