@{
    ViewBag.Title = "Contact Us";
    ViewBag.SubPageTitle = "Contact Us";
}

@section SubPageNavigation
{
    @Html.Partial("_PublicSubNavigation")
}


<div class="vcard">

    <div class="fn">Mailing Address</div>

    <div class="org">
        <span class="organization-unit">California Agribusiness Executive Seminar</span><br />
        <span class="organization-name">College of Agricultural and Environmental Sciences</span>
    </div>
    
    <div class="adr">
        <span class="street-address">Dean's Office, 150 Mrak Hall</span>
        <span class="street-address">University of California</span>
        <span class="street-address">One Shields Avenue</span>
        <span class="locality">Davis</span>
        <span class="region" title="California">CA</span>
        <span class="postal-code">95616</span>
    </div>

    <div class="tel">
        <span class="type" title="voice"></span>
        <span class="value">(530) 752-2120</span>
    </div>
    <div class="tel">
        <span class="type" title="voice"></span>
        <span class="value">(530) 752-2520</span>
    </div>

</div>
<div class="vcard">

        <div class="fn">
        <span class="given-name">Chris</span>
        <span class="family-name">Akins</span>
    </div>

    <div class="title">Event Assistant</div>

    <div class="org">
        <span class="orginization-name">UC Davis Agribusiness Executive Seminar</span>
    </div>

    <div class="tel">
        <span class="type" title="work, pref">Phone:</span>
        <span class="value">(530) 752-2120</span>
    </div>
    <div class="tel">
        <span class="type" title="fax">Fax:</span>
        <span class="value">(530) 752-2520 </span>
    </div>

    <div class="email">
        E-Mail: <a href="mailto:&#99;&#114;&#97;&#107;&#105;&#110;&#115;&#64;&#117;&#99;&#100;&#97;&#118;&#105;&#115;&#46;&#101;&#100;&#117;"><span class="value">&#99;&#114;&#97;&#107;&#105;&#110;&#115;&#64;&#117;&#99;&#100;&#97;&#118;&#105;&#115;&#46;&#101;&#100;&#117;</span></a>
    </div>

</div>
<div class="vcard">

    <div class="fn">
        <span class="given-name">Carrie</span>
        <span class="family-name">Cloud</span>
    </div>

    <div class="title">College Events and Programs Manager</div>

    <div class="org">
        <span class="organization-name">College of Agricultural and Environmental Sciences</span>
    </div>

    <div class="tel">
        <span class="type" title="work,pref">Phone:</span>
        <span class="value">(530) 204-7500</span>
    </div>
    <div class="tel">
        <span class="type" title="fax">Fax:</span>
        <span class="value">(530) 752-2520</span>
    </div>

    <div class="email">
        E-Mail: <a href="mailto:&#99;&#114;&#99;&#108;&#111;&#117;&#100;&#64;&#117;&#99;&#100;&#97;&#118;&#105;&#115;&#46;&#101;&#100;&#117;"><span class="value">&#99;&#114;&#99;&#108;&#111;&#117;&#100;&#64;&#117;&#99;&#100;&#97;&#118;&#105;&#115;&#46;&#101;&#100;&#117;</span></a>
    </div>

</div>
<div class="vcard">
    
    <div class="fn">
        <span class="given-name">Jonathan</span>
        <span class="family-name">Barker</span>
    </div>

    <div class="org">UC Agricultural Issues Center</div>

    <div class="tel">
        <span class="type" title="voice, pref">Phone:</span>
        <span class="value">(530) 752-1693</span>
    </div>

    <div class="email">
        E-Mail: <a href="mailto:&#106;&#98;&#97;&#114;&#107;&#101;&#114;&#64;&#117;&#99;&#100;&#97;&#118;&#105;&#115;&#46;&#101;&#100;&#117;"><span class="value">&#106;&#98;&#97;&#114;&#107;&#101;&#114;&#64;&#117;&#99;&#100;&#97;&#118;&#105;&#115;&#46;&#101;&#100;&#117;</span></a>
    </div>

</div>
<div class="vcard">
    
    <div class="fn">
        <a href="@Url.Action("Profile", new {id=29})">
        <span class="given-name">Daniel</span>
        <span class="additional-name">A.</span>
        <span class="family-name">Sumner</span>
        </a>
    </div>

    <div class="title">Academic Director</div>
    <div class="org">UC Davis Agribusiness Executive Seminar</div>

    <div class="title">Frank H. Buck, Jr. Professor</div>
    <div class="org">
        <span class="organization-name">Department of Agricultural and Resource Economics</span>
    </div>

    <div class="title">Director</div>
    <div class="org">UC Agricultural Issues Center</div>

    <div class="tel">
        <span class="type" title="voice, pref">(530) 752-1668</span>
    </div>

    <div class="email">
        E-Mail: <a href="mailto:&#100;&#97;&#115;&#117;&#109;&#110;&#101;&#114;&#64;&#117;&#99;&#100;&#97;&#118;&#105;&#115;&#46;&#101;&#100;&#117;"><span class="value">&#100;&#97;&#115;&#117;&#109;&#110;&#101;&#114;&#64;&#117;&#99;&#100;&#97;&#118;&#105;&#115;&#46;&#101;&#100;&#117;</span></a>
    </div>

</div>