@{
    ViewBag.Title = "ProgramOverview";
}

@section SubPageNavigation
{
    <ul class="navigation">
        <li>@Html.ActionLink("Steering Committee", "SteeringCommittee", "Public")</li>
        <li>@Html.ActionLink("Case Examples", "CaseExamples", "Public")</li>
        <li>@Html.ActionLink("Venue", "Venue", "Public")</li>
    </ul>
}

<h2>ProgramOverview</h2>

