@{
    ViewBag.Title = "Program Overview";
    ViewBag.SubPageTitle = "Seminar Information";
}

@section SubPageNavigation
{
    @Html.Partial("_PublicSubNavigation")
}

@section ScriptContent
{
    <style type="text/css">
        @*ul.seminar-details {margin: 1em; list-style: none;}
        ul.seminar-details li {margin: 1em 0; font-size: 1.25em;}*@

        ul {margin: 1em;}
        ul li {margin: 1em 0; }
        h3 { margin: 2em 0; }

        #coming-soon
        {
        text-align: center;
        border: 1px solid #014A81;
        padding: 1.5em;
        margin-top: 2em;
        font-size: 1.5em;
        font-weight: bold;
        color: #014A81;
        }

    </style>
}



<ul class="seminar-details">
    <li>@*2012 Seminar Brochure <em>available soon</em>*@
        <a href='@Url.Content("~/Doc/2012-Brochure.pdf")'>2012 Seminar Brochure</a>
    </li>
    <li>@Html.ActionLink("Click here to see past Seminar Case Studies and Issue Papers", "CaseExamples")</li>
</ul>

<h3>2012 UC Davis Agribusiness Executive Seminar Case Studies and Issue Papers</h3>
<ul>
<li>Olam’s American Division. This case includes issues related to processing of California tree nuts and vegetables.  </li>
<li>O’Neill Vintners and Distillers. This case includes strategic decisions about the grape and wine industry in the San Joaquin Valley.  </li>
<li>Harris Teeter. This case deals with branding decisions of a major retail chain in the U.S. Southeast.  </li>
<li>McDonald’s and Healthier Products. The firm faces supply chain issues as its menus change.</li>
<li>Tillamook Cooperative Creamery. This cheese processor faces strategic decisions about sourcing as branded sales exceed capacity of members’ milk supply.</li>
<li>Westchester Group. Farmland investments from outside investors are a growing part of the agricultural landscape and Westchester is a leader in these trends.</li>
</ul>

<h3>Discussions of cross-cutting issues will focus on:</h3>

<ul>
    <li>Commodity prices during the next decade. Many of the strategic decisions faced by suppliers, investors, farm producers, processors, and marketers revolve around how the commodity price environment is likely to evolve during the next decade. </li>
    <li>China: Customers and Competitors. Market opportunities in China are expanding rapidly as incomes grow and diets change.  At the same time, competitors in China are developing and becoming more sophisticated.  </li>
</ul>

@*<div id="coming-soon">
2012 UC Davis Agribusiness Executive Seminar
<br/><em>Coming in October 2011</em>
</div>
*@