@using Agribusiness.Web.App_GlobalResources
@using Agribusiness.Web.Services
@model IEnumerable<DisplayPerson>


@{
    var siteId = ViewData["site"] as string;
        
    ViewBag.Title = siteId.ToLower() == "leaders" ? "Advisory Committee" : "Steering Committee";
    ViewBag.SubPageTitle = siteId.ToLower() == "leaders" ? "Advisory Committee" : "Steering Committee";

    ViewBag.PublicProfile = true;

    var seminar = SiteService.GetLatestSeminar(siteId);

    if (seminar != null && seminar.SeminarPeople.SelectMany(a => a.SeminarRoles).Any(a => a.Id == StaticIndexes.Role_SteeringCommittee))
    {
        ViewData["hasSteeringCommittee"] = true;
    }
    else
    {
        ViewData["hasSteeringCommittee"] = false;
    }  
}

@section SubPageNavigation
{
    @Html.Partial("_PublicSubNavigation")
}

@if (Model != null && Model.Any())
{
<div style="margin-top: 2em;">
@foreach (var person in Model)
{
    @Html.Partial("_ProfileList", person)
}
</div>    
}
else
{
    <div class="well">
    <p>Information is not available at this time.  Please check back later.</p>
    </div>
}