@model IEnumerable<DisplayPerson>


@{
    ViewBag.Title = "Steering Committee";
    ViewBag.SubPageTitle = "Steering Committee";

    ViewBag.PublicProfile = true;
}

@section SubPageNavigation
{
    @Html.Partial("_PublicSubNavigation")
}

<div style="margin-top: 2em;">
@foreach (var person in Model)
{
    @Html.Partial("_ProfileList", person)
}
</div>