@model IEnumerable<DisplayPerson>


@{
    var siteId = ViewData["site"] as string;
        
    ViewBag.Title = siteId.ToLower() == "leaders" ? "Advisory Committee" : "Steering Committee";
    ViewBag.SubPageTitle = siteId.ToLower() == "leaders" ? "Advisory Committee" : "Steering Committee";

    ViewBag.PublicProfile = true;
}

@section SubPageNavigation
{
    @Html.Partial("_PublicSubNavigation")
}

<div style="margin-top: 2em;">
@foreach (var person in Model)
{
    @Html.Partial("_ProfileList", person)
}
</div>