@model IEnumerable<SeminarPerson>


@{
    ViewBag.Title = "Steering Committee";
}

<h2>Steering Committee</h2>

<table class="noicon">
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.Person.FirstName</td>
                <td>@person.Person.LastName</td>
                <td>@person.Title</td>
                <td>@person.Firm.Name</td>
            </tr>
        }
    </tbody>
</table>


