@using Agribusiness.Web.App_GlobalResources
@using Agribusiness.Web.Services
@{
    ViewBag.Title = "Venue";
    ViewBag.SubPageTitle = "Venue";
    var siteId = ViewData["site"] as string;
    var site = SiteService.LoadSite(siteId);
    var seminar = SiteService.GetLatestSeminar(siteId);

    if (seminar != null && seminar.SeminarPeople.SelectMany(a => a.SeminarRoles).Any(a => a.Id == StaticIndexes.Role_SteeringCommittee))
    {
        ViewData["hasSteeringCommittee"] = true;
    }
    else
    {
        ViewData["hasSteeringCommittee"] = false;
    }  
}

@section SubPageNavigation
{
@Html.Partial("_PublicSubNavigation")
}

@section ScriptContent
{
    <style type="text/css">
    
        section {margin: 1em 0; display: block;}
       
        #hotel-information p {margin: 1em 0;}
        .rates {list-style: none; }
        .rates li {margin: .5em 0 0 15px;}
    </style>
}

<div class="row-fluid">
    <div class="span4">
        @if (!string.IsNullOrEmpty(site.Venue))
        {
            @Html.Raw(site.Venue)
        }
        else
        {
            <div class="well">
                <p>Venue information is not available at this time.</p>
            </div>
        }

    </div>

    <div class="span4">
        @if (ViewBag.ShowImage == true)
        {
            <img src='@Url.Action("GetVenueImage", "Public", new { siteId = seminar.Id })' style="width: 460px; height: 290px; float: left; margin-right: 1em; display: inline-block;"/>
        }
    </div>

    <div class="span4">
        @if (!string.IsNullOrEmpty(site.VenueEmbeddedMap))
        {
            @Html.Raw(site.VenueEmbeddedMap)
        }
    </div>
</div>