@using Agribusiness.Web.Services
@{
    ViewBag.Title = "Venue";
    var siteId = ViewData["site"] as string;
    var site = SiteService.LoadSite(siteId);
}

@section SubPageNavigation
{
@Html.Partial("_PublicSubNavigation")
}

@section ScriptContent
{
    <style type="text/css">
    
        section {margin: 1em 0; display: block;}
       
        #hotel-information p {margin: 1em 0;}
        .rates {list-style: none; }
        .rates li {margin: .5em 0 0 15px;}
    </style>
}

<h2>Venue</h2>

<div class="row-fluid">
    <div class="span8">
        @if (!string.IsNullOrEmpty(site.Venue))
        {
            @Html.Raw(site.Venue)
        }
        else
        {
            <p>Venue information is not available at this time.</p>
        }
    </div>
    <div class="span4">
        @if (!string.IsNullOrEmpty(site.VenueEmbeddedMap))
        {
            @Html.Raw(site.VenueEmbeddedMap)
        }
    </div>
</div>