body {padding-top: 85px}
#main-header .navbar .brand {padding: 13px 20px 12px;}
#main-header .navbar .btn-group .btn {margin: 18px 0 0 0;}
#main-header .navbar .nav > li > a {padding: 27px 10px 24px;}

.navbar .btn-navbar {margin-top: 23px;}