@model Agribusiness.Import.Models.View.FirmViewModel

@{
    ViewBag.Title = "Archived Firms";
}


<h2>Index</h2>

<div>
<em>Imported Already?</em> @(Model.AlreadyImported ? "Yes" : "No")
</div>

@Html.Partial("_Error", Model.Errors)

<hr />

@Html.Partial("_FirmList", Model.Firms)