@model FileViewModel

@{
    ViewBag.Title = "Edit Seminar File";
    ViewBag.SubPageTitle = "Edit Seminar File";
}

@using (Html.BeginForm("Edit", "File", new {seminarId = Model.SeminarId}, FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{

    @Html.Partial("_FileForm")
    
    <div class="form-actions">
        <input type="submit" value="Save" class="btn btn-primary"/>
        @Html.ActionLink("Cancel", "Edit", "Seminar", new {id=Model.File.Seminar.Id}, new {@class="btn"})
    </div>
}