<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <appSettings>
    <add key="RoleServiceUrl" value="https://test.caes.ucdavis.edu/catbert4/Public/Role.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RoleToken" value="8b7ca6db8d91451fbff4e857b07bb635" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="CatbertMessageServiceUrl" value="https://test.caes.ucdavis.edu/Catbert4/public/message.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="crppassword" value="bc3fee89-af75-4375-9095-0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="crpserviceurl" value="https://test.caes.ucdavis.edu/crp/services/itemservice.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="crplink" value="https://test.caes.ucdavis.edu/crp/transaction/checkout/{0}?referenceid={1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="ReportServer" value="http://testreports.caes.ucdavis.edu/reports" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <connectionStrings>
    <add name="MainDB" connectionString="data source=terry;Initial Catalog=Agribusiness;Integrated Security=true;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Ratbert" connectionString="data source=terry;Initial Catalog=Ratbert;Integrated Security=true;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->

    <customErrors mode="RemoteOnly" xdt:Transform="SetAttributes"></customErrors>
    
  </system.web>
</configuration>