<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <appSettings>
    <add key="RoleServiceUrl" value="https://secure.caes.ucdavis.edu/catbert4/Public/Role.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RoleToken" value="9aa193ab42c74f4e94f85809ad98361b" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="CatbertMessageServiceUrl" value="https://secure.caes.ucdavis.edu/Catbert4/public/message.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="crppassword" value="657d88ce-c205-479a-a629-0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="crpserviceurl" value="https://registration.ucdavis.edu/services/itemservice.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="crplink" value="https://registration.ucdavis.edu/transaction/checkout/{0}?referenceid={1}&amp;password={2}&amp;fn={3}&amp;ln={4}&amp;title={5}&amp;address={6}&amp;address2={7}&amp;city={8}&amp;state={9}&amp;zip={10}&amp;phone={11}&amp;email={12}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="crplinkCoupon" value="https://registration.ucdavis.edu/transaction/checkout/{0}?referenceid={1}&amp;password={2}&amp;couponcode={3}&amp;fn={4}&amp;ln={5}&amp;title={6}&amp;address={7}&amp;address2={8}&amp;city={9}&amp;state={10}&amp;zip={11}&amp;phone={12}&amp;email={13}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="ReportServer" value="http://reports.caes.ucdavis.edu/reportserver" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="NotificationUsers" value="Akins@caes.ucdavis.edu" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="IpFilter" value="169.237.124.154" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- Email a diagnostic email for the sync call -->
    <add key="SynCall" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
  </appSettings>
  
  
  <connectionStrings>
    <add name="MainDB" connectionString="data source=donbot;Initial Catalog=Agribusiness;Integrated Security=true;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Ratbert" connectionString="data source=donbot;Initial Catalog=Ratbert;Integrated Security=true;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>