@model NotificationTrackingViewModel

@{
    ViewBag.Title = "Create Notification Tracking";
    ViewBag.SubPageTitle = "Create Notification Tracking";
    ViewBag.ShowSave = true;
}

@section SubPageNavigation{
    <ul class="navigation">
        @*<li>@Html.ActionLink("Back to Profile", "AdminEdit", "Person", new {id=Model.UserId, seminarId=Model.SeminarId}, new {})</li>*@
    </ul>
}

@Html.ValidationSummary(false)

@using (Html.BeginForm())
{ 
    @Html.AntiForgeryToken()

    @Html.Partial("_NotificationTracking")
}
