@{
    ViewBag.Title = "Notifications";
    ViewBag.SubPageTitle = "Notifications";
}

<ul>
    <li>@Html.ActionLink("Add Notification Tracking", "Create")</li>
    <li>@Html.ActionLink("Send Notification", "Send")</li>
</ul>
