@model PersonViewModel

@{
    ViewBag.Title = "Edit Profile";
    ViewBag.SubPageTitle = "Edit Profile";
}

<div class="profile_pic_container">
    <img src='@Url.Action("GetProfilePicture", new { id = Model.Person.Id })' />
</div>

<div class="information_container">

    @using (Html.BeginForm("AdminEdit", "Person", FormMethod.Post, new { enctype = "multipart/form-data" }))
    { 
        @Html.ValidationSummary(true)
        @Html.Partial("_PersonForm")

    }   

</div>

<div style="clear:both;" />