@model IQueryable<Person>

@{
    ViewBag.Title = "People Index";
    ViewBag.SubPageTitle = "People Index";
}

@section SubPageNavigation
{
    <ul class="navigation">
        <li>@Html.ActionLink("Create New", "Create")</li>
    </ul>
}

@foreach (var a in Model)
{ 
    <fieldset>
        <legend>@a.FullName</legend>

        @if(a.MainProfilePicture == null)
        {
            <img src='@Url.Content("~/Images/profileplaceholder.jpg")' />
        }
    </fieldset>
}