@model PersonListViewModel

@{
    ViewBag.Title = "People";
    ViewBag.SubPageTitle = "People";
}

@section SubPageNavigation
{
    <ul class="navigation">
        <li>@Html.ActionLink("Create New", "Create")</li>
    </ul>
}

@foreach (var a in Model.People.OrderBy(a=>a.Person.LastName))
{ 
    @Html.Partial("_ProfileList", a)
}