@model DisplayPerson

@{
    ViewBag.Title = "Details";


    ViewBag.ShowContact = true;
    
}

@section SubPageNavigation
{
    <ul class="navigation">
        <li>@Html.ActionLink("Back to List", "Index")</li>
    </ul>
}

@Html.Partial("_Profile")