@model Agribusiness.Import.Models.View.ContactFirmViewModel

@{
    ViewBag.Title = "ContactFirms";
}

<h2>ContactFirms</h2>

<div>
<em>Imported Already?</em> @(Model.AlreadyImported ? "Yes" : "No")
</div>

@Html.Partial("_Error", Model.Errors)

<hr />

@Html.Partial("_ContactFirmList", Model.ContactFirms)