a.button { color:#333333; }


/* ---------------- */
/* Profile Styling  */
/* ---------------- */
.profile_pic_container { float:left; margin-left: 15px; width: 165px;}

.information_container { float:left; margin-left: 15px; width: 825px;}
.information_container ul { list-style:none; }
.information_container .name {font-size: larger; font-weight: bold; color: #014A81; }
.information_container .title { margin-top: .5em; font-weight: bold; }
.information_container .description { margin-top: 1em; }


/* ---------------------------- */
/* DataTables Specific Styling  */
/* ---------------------------- */
.dataTables_length {
	width: 40%;
	float: left;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
}

.dataTables_info {
	width: 60%;
	float: left;
}

.dataTables_paginate {
	width: 44px;
	float: right;
	text-align: right;
}

div.dataTables_wrapper .ui-toolbar
{
    padding: 5px;
}

div.dataTables_wrapper table
{
    margin: 0;
    clear:both;
}

.DataTables_sort_wrapper
{
    cursor:pointer;
}

.css_right { float:right;}
.clear { clear: both; }
