a.button { color:#333333; }

/* --------------------- */
/* Profile List Styling  */
/* --------------------- */

section.list-item
{
    border-bottom: 1px solid #0068B7;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

aside.list-item-picture
{
    width: 165px;
    margin: 1em;
    float: left;
}

header.list-item-name
{
    font-weight: bold;
    font-size: large;
}

section.list-item-body
{
    width: 830px;
    float: right;
}

article.list-item-title
{
    margin: .5em 0;
    font-style: italic;
    color: #0068B7;
}

article.list-item-firm
{
    margin: 1em 0;
}

article.list-item-firm ul
{
    list-style: none;
}

article.list-item-firm li.list-item-firm-name
{
    font-weight: bold;
}

article.list-item-firm li.list-item-firm-description
{
    margin: .25em 0 ;
}

footer.list-item-vcard
{
    float: right;
    font-size: small;
}

/*
.list-item{margin-top: 1em;}

.list_pic_container
{
    display: inline-block;
    margin: 1em;
    width: 165px;    
}
.list_information_container
{
    display: inline-block;
    vertical-align: top;
}

.list_information_container a {font-size: large; font-weight: bold;}
.list_information_container ul {list-style: none;}
.list_information_container .title { margin-top: .5em; font-weight: bold; }
.list_information_container .description { margin-top: 1em; }
.list-divider {margin: 1em 0 2em 0;}
*/

/* ---------------- */
/* Profile Styling  */
/* ---------------- */
.profile_pic_container { margin-left: 15px; width: 165px; display:inline-block;}

.profile_information_container { margin-left: 40px; width: 780px; vertical-align: top;display:inline-block;}
.profile_information_container h2 { color: #014A81; margin-top: 0; }
.profile_information_container ul { list-style:none; }
.profile_information_container .name {font-size: larger; font-weight: bold; color: #014A81; }
.profile_information_container .title { margin-top: .5em; font-weight: bold; }
.profile_information_container .description { margin-top: 1em; }


/* ---------------------------- */
/* DataTables Specific Styling  */
/* ---------------------------- */
.dataTables_length {
	width: 40%;
	float: left;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
}

.dataTables_info {
	width: 60%;
	float: left;
}

.dataTables_paginate {
	width: 44px;
	float: right;
	text-align: right;
}

div.dataTables_wrapper .ui-toolbar
{
    padding: 5px;
}

div.dataTables_wrapper table
{
    margin: 0;
    clear:both;
}

.DataTables_sort_wrapper
{
    cursor:pointer;
}

.css_right { float:right;}
.clear { clear: both; }
