@{
    ViewBag.Title = "Administration";
    ViewBag.SubPageTitle = "Administration";
}

<ul>
    <li>@Html.ActionLink("Commodities", "Index", "Commodity")</li>
    <li>@Html.ActionLink("Templates", "Index", "Template")</li>
</ul>
