@using Agribusiness.Web.Models

@model MessageModel

@if (Model.IsError)
{ 
    <div id="error_message">
        @Html.Raw(Model.Message)
    </div>
}
else { 
    <div id="status_message">
        @Html.Raw(Model.Message)
    </div>
}